<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<title>Project Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
     <header>
        <nav class="navbar navbar-expand-md navbar-dark"
             style="background-color: tomato">
            <div>
                <a href="https://www.javaguides.net" class="navbar-brand"> Project Management</a>
            </div>

            <ul class="navbar-nav">
                <li><a href="/"
                       class="nav-link">Main menu</a></li>
            </ul>
        </nav>
    </header>
    <br>


        <div class="row">
            <!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
            <div class="container">
                <h3 class="text-center">List of Projects</h3>
                <hr>
                <div class="container text-left">
                    <a href="projects?action=new" class="btn btn-success">Add
                    New Project</a>
                </div>
                <br>
                <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date of start</th>
                            <th>Companies</th>
                            <th>Developers</th>
                            <th>Customers</th>
                            <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                             <tr th:each ="proj : ${list}">
                                <td th:text="${proj.id}"></td>
                                <td th:text="${proj.nameOfProject}"></td>
                                <td th:text="${proj.description}"></td>
                                <td th:text="${proj.date.toString()}"></td>
                                <td th:text="${proj.companies}"></td>
                                <td th:text="${proj.developers}">
                                <td th:text="${proj.customers}"></td>

                                <td><a th:href="'/projects?action=edit&id=' + ${proj.id}">Edit</a>
                                <a th:href="'/projects?action=delete&id='+ ${proj.id}">Delete</a>
                                <br>
                                <a th:href="'/companyProject?action=new&id=' + ${proj.id}">Add Company</a>
                                <br>
                                <a th:href="'/companyProject?action=remove&id=' + ${proj.id}">Delete Company</a>
                                <br>
                                <a th:href="'/projectDeveloper?action=new&id=' + ${proj.id}">Add Developer</a>
                                <br>
                                <a th:href="'/projectDeveloper?action=remove&id=' + ${proj.id}">Delete Developer</a>
                                <br>
                                <a th:href="'/customerProject?action=new&id=' + ${proj.id}">Add Customer</a>
                                <br>
                                <a th:href="'/customerProject?action=remove&id=' + ${proj.id}">Delete Customer</a>
                                <br>

                                </td>

                             </tr>
                        </tbody>
                </table>
            </div>
        </div>
</body>

</html>
