<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">>
<head>
<title>Edit Company</title>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: tomato">
			<div>
				<a href="https://www.javaguides.net" class="navbar-brand"> Developer Management</a>
			</div>

			<ul class="navbar-nav">
				<li><a href="/developers"
					class="nav-link">Developers</a></li>
			</ul>
		</nav>
	</header>
	<br>
	<div class="container col-md-5">
		<div class="card">
			<div  class="card-body">
			    <form th:action="'companies?action=update&id=' + ${id}"  method="post">

                    <div >
                        <input type="hidden" name="id" th:value="${id}">
                    </div>

                    <fieldset class="form-group">
                        <label>Name</label>  <input type="text"
                        name="name" th:value="${existingComp.name}" class="form-control"
                         required="required">
                    </fieldset>

                    <fieldset class="form-group" >
                        <label>Address</label> <input type="text"
                         name="address" th:value="${existingComp.address}" class="form-control"
                             required="required">
                    </fieldset>



                    <button type="submit" th:value="${id}" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
