<!doctype html>
<html lang="en" xmlns:th="http://www.servletsThymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.servletsThymeleaf.org ">
<head>
<title>Company Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
     <header>
        <nav class="navbar navbar-expand-md navbar-dark"
             style="background-color: tomato">
            <div>
                <a href="https://www.javaguides.net" class="navbar-brand"> Customer Management</a>
            </div>

            <ul class="navbar-nav">
                <li><a href="/"
                       class="nav-link">Main menu</a></li>
            </ul>
        </nav>
    </header>
    <br>


        <div class="row">
            <!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
            <div class="container">
                <h3 class="text-center">List of Customers</h3>
                <hr>
                <div class="container text-left">
                    <a href="customers?action=new" class="btn btn-success">Add
                        New Customer</a>
                </div>
                <br>
                <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                             <tr th:each ="cust : ${list}">
                                <td th:text="${cust.customerId}"></td>
                                <td th:text="${cust.name}">Name</td>
                                <td th:text="${cust.address}">Address</td>
                                <td><a th:href="'/customers?action=edit&id=' + ${cust.customerId}">Edit</a>
                                <a th:href="'/customers?action=delete&id='+ ${cust.customerId}">Delete</a></td>
                             </tr>
                        </tbody>
                </table>
            </div>
        </div>
</body>

</html>
