<!doctype html>
<html lang="en" xmlns:th="http://www.servletsThymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.servletsThymeleaf.org ">
<head>
<title>Project&Developer Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
     <header>
        <nav class="navbar navbar-expand-md navbar-dark"
             style="background-color: tomato">
            <div>
                <a href="https://www.javaguides.net" class="navbar-brand"> Project&Developer Management</a>
            </div>

            <ul class="navbar-nav">
                <li><a href="/"
                       class="nav-link">Main menu</a></li>
            </ul>
        </nav>
    </header>
    <br>


        <div class="row">
            <!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
            <div class="container">
                <h3 class="text-center">List of Project&Developer </h3>
                <hr>
                <div class="container text-left">
                    <a href="projectDeveloper?action=new" class="btn btn-success">Add
                        New Project&Developer</a>
                </div>
                <br>
                <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Project ID</th>
                            <th>Developer ID</th>
                            <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                             <tr th:each ="p : ${list}">
                                <td th:text="${p.key}"></td>
                                <td th:text="${p.value.projectId}"></td>
                                <td th:text="${p.value.developerId}"></td>
                                <td><a th:href="'/projectDeveloper?action=edit&id=' + ${p.key}">Edit</a>
                                <a th:href="'/projectDeveloper?action=delete&id='+ ${p.key}">Delete</a></td>
                             </tr>
                        </tbody>
                </table>
            </div>
        </div>
</body>

</html>
